@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
a{
  text-decoration: none;
  color: #28353B;

}
header{
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  background: #7297A8;
  align-items: center;
  padding: 10px;

}
.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 50px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: #EB4961;
}

@media (max-width:700px){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px;
  }
}
